*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Jost", sans-serif;
}


a {
text-decoration: none;
}

li {
list-style: none;
}

/* Navbar styling starts */

.nav {
    width: 100%;
    height: 10rem;
    display: grid;
    grid-template-columns: 10rem 1fr 2fr 1fr 10rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    /* border: 2px solid black; */
    /* position: absolute; */
}

.logo {
    display: grid;
    /* background-color: #3b5998; */
    grid-column: 2/3;
    justify-content: start;
    align-items: center;
    /* border: 2px solid black; */
}

.menu-click {
    grid-column: 3/4;
    /* border: 2px solid black; */
}

.menu-click ul {
    height: 10rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.btns{
    grid-column: 4/5;
    /* border: 2px solid black; */
}

.btns ul {
    height: 10rem;
    display: grid;
    grid-template-columns: 3fr repeat(2, 1fr);
    align-items: center;
    justify-content: flex-end;
}

.btns ul li {
    /* text-align: right; */
    margin: 20px;
}

.btns ul li:first-child {
    grid-column: 2/3;
}

/* Grid Parts ends */

.logo h2{
    font-size: 2.5rem;
    font-weight: 400;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.logo h2 span {
    font-size: 3.5rem;
}

.menu-click ul li {
    font-size: 1.8rem;
}

.menu-click ul li a {
    text-transform: capitalize;
    color: rgba(0, 0, 3, 0.8);
    transition: 0.5s;
}


.menu-click ul li:hover > a {
    transform-origin: left;
    color: rgba(0, 0, 3, 1);
    text-decoration: underline;
    transition: 0.5s;
}

.btns ul li {
    font-size: 1.8rem;
}

.btns .hamburger-menu {
    display: none;
}

/* section */

.hero-section {
    height: 80vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
    background-color: rgba(192,192,192,0.5);
}

/* Styling Cards */

